.search__container {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem;
}

.search__logo {
  display: flex;
  align-items: center;
}

.search__brand {
  font-weight: 900;
  font-size: 2rem;
  display: inline-block;
  color: #fff;
}

.search__brand-accent {
  font-weight: 600;
  font-size: 1rem;
  display: inline-block;
  font-style: italic;
  color: orange;
  padding-left: 0.5rem;
}

.search__filter {
  display: flex;
  align-items: center;
}

.search__filter-label {
  font-size: 0.8rem;
  display: inline-block;
  font-weight: 600;
  color: #797a84;
}

@media only screen and (max-width: 986px) {
  .search__container {
    flex-direction: column;
    justify-content: space-around;
  }
}
