.movies__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  padding: 2rem;
}

.movies__list-title-div {
  padding: 2rem;
}

.movies__list-title-div {
  color: #fff;
  font-weight: bold;
  padding-bottom: 0rem;
}
@media only screen and (max-width: 1200px) {
  .movies__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 800px) {
  .movies__grid {
    grid-template-columns: 100%;
  }

  .movies__grid {
    padding: 1rem;
  }

  .movies__list-title-div {
    padding-left: 1rem;
    padding-bottom: 0rem;
  }
}
