.movie__container {
  display: flex;
  background-color: #22242f;
  padding: 2rem;
  justify-content: space-around;
  border: 1px solid #393b46;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.movie__poster {
  height: 200px;
  width: auto;
  margin: auto;
}

.movie__image-container {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.movie__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1rem;
}
.movie__rating {
  font-size: 0.7rem;
  border: 1px solid #fecd19;
  background-color: #38352e;
  display: inline-block;
  padding: 0.3rem;
  border-radius: 10px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.movie__rating-icon {
  color: #fecd19;
}

.movie__vote-count {
  font-size: 0.7rem;
  border: 1px solid #fecc1900;
  background-color: #38352e00;
  display: inline-block;
  padding: 0.3rem;
  border-radius: 10px;
  color: #393b46;
  font-weight: 600;
  padding-left: 0.5rem;
}

.movie__vote-count-icon {
  color: #393b46;
}

.movie__name {
  color: #fff;
  font-size: 0.8rem;
  font-weight: 800;
  display: block;
  margin-bottom: 0.5rem;
}

.movie__overview {
  color: #fff;
  font-size: 0.7rem;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
