/* TODO Add site wide styles */

* {
  font-family: "Mulish", sans-serif;
}

body {
  background: hsla(233, 18%, 18%, 1);

  background: linear-gradient(
    135deg,
    hsla(233, 18%, 18%, 1) 30%,
    hsla(295, 14%, 18%, 1) 99%
  );

  background: -moz-linear-gradient(
    135deg,
    hsla(233, 18%, 18%, 1) 30%,
    hsla(295, 14%, 18%, 1) 99%
  );

  background: -webkit-linear-gradient(
    135deg,
    hsla(233, 18%, 18%, 1) 30%,
    hsla(295, 14%, 18%, 1) 99%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#252735", endColorstr="#342835", GradientType=1 );
}
